.body{
  background-color: rgb(27, 27, 89);
  color: rgb(255, 255, 255);
}
.containerDiv{
  display: flex;
  flex-direction: column;
}
.h3Div{
  display: flex;  
  align-items: center;
  gap: 2rem;
}
.p{
  margin-top: 16px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: antiquewhite;
}
.button {
  margin-right: 15px;
}
.tituloBooking{
  background-color: antiquewhite;
}
.titleBooking {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  margin-top: 20px;
}
.title1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}
.modal {
   
  gap: 1rem;
}

.stripe {
  border: 2px solid black;
  margin-top: 20px;
  background-color: rgb(218, 215, 215);
}
